{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}
<div class="container m-4">
    <div id="clubs">
        <div>


            <h2>Clubs</h2>
            <div class="display-cards">

                {% for club in clubs %}


                <div class="card m-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ club.nomClub }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{club.sportClub}}</h6>
                        <p>{{ club.adresseClub }}</p>
                        <a href="{{ path('app_club_edit', {'id': club.id}) }}">Editer</a>
                    </div>
                </div>
                {% else %}

                <p>Aucun club trouvé</p>

                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-success " href="{{ path('app_club_new') }}">Nouveau club</a>
            </div>
        </div>

    </div>
</div>


{% endblock %}