{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
<div class="container m-4">
    <h2>Club</h2>

    <div>
        <p><b>Nom du club :</b> {{ club.nomClub }}</p>
        <p><b>Sport du club : </b>{{ club.sportClub }}</p>
        <p><b>Adresse du club : </b>{{ club.adresseClub }}</p>
    </div>

    <div class="display-cards">
        <!-- Faire un dump d'equipes -->
        {{dump(equipes)}}
        {% for equipe in equipes %}
        <!-- On a récupéré toutes les équipes avec findAll, maintenant on met une condition pour n'afficher que les équipes dont l'id correspond au club -->
        {% if club.id == equipe.idClub.id %}
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ equipe.nomEquipe }}</h5>
                <a href="{{ path('app_equipe_show', {'id': equipe.id}) }}">Voir</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if app.user %}
    <div class="actions">
        <a class="btn btn-primary" href="{{ path('app_club_edit', {'id': club.id}) }}">Editer</a>

        {{ include('club/_delete_form.html.twig') }}

    </div>
    {% endif %}
</div>
{% endblock %}