{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}
<div class="container m-4">
    <div id="equipes">
        <div>
            <h2>Equipes</h2>

            <div class="display-cards">
                {% for equipe in equipes %}


                <div class="card m-4" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ equipe.nomEquipe }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Club : {{equipe.idClub.nomClub}}</h6>
                        {% if app.user %}
                        <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}">Editer</a>
                        {% endif %}
                        <a href="{{ path('app_equipe_show', {'id': equipe.id}) }}">Voir</a>
                    </div>
                </div>
                {% else %}

                <p colspan="3">Aucune équipe trouvée</p>


                {% endfor %}

            </div>
            {% if app.user %}
            <div class="text-center">
                <a href="{{ path('app_equipe_new') }}" class="btn btn-success ">Nouvelle équipe</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}